.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	row-gap: 5px;
	column-gap: 5px;
	text-decoration: none;
}

.dialogItems {
	padding: 20px;
	background-color: rgb(223, 201, 3);
}

.dialog {
	padding: 10px;
}

.dialog a.active {
	color: red;
}

.messages {
	padding: 20px;
	background-color: rgb(223, 201, 3);
}

.message {
	padding: 10px;
}
