.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	row-gap: 5px;
	column-gap: 5px;
}

.dialogItems {
	padding: 20px;
	background-color: rgb(223, 201, 3);
}

.dialog {
	padding: 10px;
}

.dialog a {
	color: rgb(110, 34, 34);
	text-decoration: none;
}
a:active {
	color: black;
}

.messages {
	padding: 20px;
	background-color: rgb(223, 201, 3);
}

.message {
	padding: 10px;
}
